body{
    background-color: black;
}

#menu_nav{
    min-height: 50px;
    line-height: 50px;
    border-bottom: 1px solid white;
}
#menu_nav a{
    min-width: 30px;
    border-left: 1px solid white;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
#menu_nav a:hover{
    background: white;
    color:black;
}
#content{
    margin-top: 100px;
}
form{
    width: 500px;
    margin: auto;
    background-color: white;
    height: 500px;
    padding: 50px;
    
}

form input{
    display: block;
    min-width: 300px;
    height: 30px;
}
.block{
    float: left;
    width: 25%;
    
    text-align: center;
    line-height: 100px;
    height: 100px;
}
.block div{
    background: white;
    margin: 10px;
}
form label{
    font-weight: 600;
    color: brown;
    text-decoration: underline;
}

#submit_form{
    margin: auto;
    margin-top: 50px;
    background: green;
    color: white;
    font-weight: 600;
}